<html>
  <head></head>
  <body>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year %>
      <br/>
      Artist: <%= @artist.name %>
    </p>
    <a href="/albums">Going back</a>
  </body>
</html>