<html>
  <body>
    <h1>Artists</h1>
    <% @artists.each do |artist| %>
    <br />
    <div>
      <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
    </div>
    <% end %>
  </body>
</html>