<html>
  <head></head>
  <body>
    <h1>Welcome to Terry's Music Library!</h1>
    <hr>
    <h2>What do you want to browse?</h2>
    <h3><a href="/albums">Albums</a></h3>
    <h3><a href="/artists">Artists</a></h3>
  </body>
</html>
